# Prevent Git from treating images as text (and corrupting them with CRLF conversion)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
